{% templatetag openblock %} load static {% templatetag closeblock %} <!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% templatetag openblock %} block title {% templatetag closeblock %}{% templatetag openblock %}
            endblock {% templatetag closeblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="keywords" content="">


        <link href="{% templatetag openblock %} static 'css/screen.css' {% templatetag closeblock %}" media="screen" rel="stylesheet"/>

        <link href="{% templatetag openblock %} static 'css/print.css' {% templatetag closeblock %}" media="print" rel="stylesheet"/>
        {% templatetag openblock %} block extra_css {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
        <link rel="shortcut icon" href="">
    </head>

    <body class="{% templatetag openblock %} block body-class {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}">

        {% templatetag openblock %} block header {% templatetag closeblock %}

        {% templatetag openblock %} endblock {% templatetag closeblock %}

        <main>
            {% templatetag openblock %} block content {% templatetag closeblock %}
                Test demo page for Django boilerplate
            {% templatetag openblock %} endblock {% templatetag closeblock %}
        </main>

        <footer class="footer"></footer>
    </body>
</html>
